body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #1a1a1a; /* Sfondo scuro */
  color: #fff; /* Testo bianco */
}

/* Navbar-------------- */
nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #333;
  z-index: 100;
  padding-bottom: 0.2rem;
  text-align: center;
  line-height: 30px;
  height: 50px;
  & menu {
    ul {
      list-style-type: none;
      padding: 1.5px;
      display: flex;
      justify-content: space-around;
      margin-right: 30px;
      li {
        display: inline;
        margin: 10px;

        & .link {
          text-decoration: none;
          font-weight: bold;
          color: white;
        }
      }
    }
  }
}

/* Home----------- */
.parallax-container {
  position: relative;
  height: 50vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 179%;
  background-position: right 10% bottom 71%;
  background-attachment: fixed;

  & img {
    width: 100%;
    height: auto;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-attachment: fixed;
  }
}

.section {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;

  & .content {
    text-align: center;
    color: white;
    z-index: 1;

    & .logo {
      margin-top: -30px;
      width: 15vw;
    }
  }
}

/* Sections----- */
.text-img-section {
  padding: 3rem;
  gap: 1rem;
  border-bottom: 1px solid #007acc;
  background-color: #333;
}

.text-img-section > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.text-img-section .content {
  padding: 0 20px; /* Aggiunto padding a sinistra e destra */
  margin-top: 20px;
  text-align: center;
  color: white;
  z-index: 1;

  & .logo {
    margin-top: -10px;
    width: 30vw;
  }
}
.text-img-section:nth-child(odd) {
  flex-direction: row-reverse;
}

.text-img-section:nth-child(2) {
  background-color: #444; /* Sfondo più scuro */
}

.text-img-ultimatesection {
  background-color: #444; /* Sfondo più scuro */
  padding: 4rem;
  justify-content: center;
  align-items: center;
}

.img-body {
  width: 80%;
  height: auto;
  overflow: hidden;
}

.img-body img {
  width: 50%;
  height: auto;
  display: block;
}

#ultimate-section {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.CreateCharater {
  border: none;
  outline: none;
  padding: 12px 15px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #007acc;
  color: white;
  margin-top: 25px;
  font-size: 17px;
}

#ultimate-section .star-container {
  background-position: bottom;
}

/* Characters------------- */
.character {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
